*{
	box-sizing: border-box;
}
body{
	background-color: #E5E5E5;
	font-family: 'Noto Sans JP', sans-serif;
}

#header-nav{
	background-color: #949494;
}
#ourMenu{
	margin-bottom: 30px;
	margin-top: 30px;
}
#chickenSection{
	border:1px solid black;
	background-color: #FFFFC9;
	margin-top: 20px;
}

#chickenSection p{
	padding: 10px;
	margin-top: 20px;
	font-size: .9em;
}
#chickenSection h2{
	margin-top: 15px;
}

.nav-item a{
	text-align: center;
}